<div class="jumbotron-fluid">
  <div class="container">
    <h1>Welcome to the CIS658 Bug Tracking System!</h1>
     <p>Use the navigation bar above to open, view, or manage a request!</p>
   </div>
 </div>
 <div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
   <% @bugs.each do |bug| %>
   <div class="col-md-4">
      <h2><%= bug.title %></h2>
      <p><%= bug.description.truncate_words(30) %></p>
      <p>
        <%= link_to 'View Bug &raquo;'.html_safe, bug, class: "btn btn-info"%>
      </p>
   </div>
<% end %>
  </div>
  <hr>
     
  <footer>
    <p>&copy; 2020 Spencer Firlik CIS658 HW5</p>
  </footer>
</div> 